.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1078px;

    margin-top: 100px;
    margin-bottom: 50px;

}

.footer__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__line {
    width: 100%;
    margin-bottom: 45px;
}

.footer__terms {
    display: flex;
    align-items: center;
    gap: 12px;


}

.footer__terms-item {
    font-size: 13px;
    color: white;
}

.footer__lower-container {
    display: flex;
    align-items: center;
    gap: 24px;
    color: rgba(143, 147, 153, 1);

}

.footer__dev {
    font-size: 13px;
}

.footer__company {

    font-size: 13px;
}


@media (max-width: 768px) {}

@media (max-width: 425px) {

    .footer__lower-container_right {
        display: none;
    }
}