/* PROMO*/
.promo {
    display: flex;
    justify-content: space-between;
}

.promo__label {
    margin-bottom: 64px;
}

.promo__link {
    color: white;
    text-decoration: underline;
}

.promo__number-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}

.promo__checkbox {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

/* ЧЕКБОКС */
.promo__checkbox-input {
    position: absolute;
    opacity: 0;
    width: 1;
    height: 1;
}

.promo__checkbox-custom {
    min-width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid white;
    position: relative;
}

.promo__checkbox-input:checked+.promo__checkbox-custom::before {
    content: '';
    display: block;
    width: 16px;
    height: 12px;
    background-image: url('/promo/checkmark.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  */
.promo__checkbox-text {
    display: inline;
}

.promo__button {
    margin-top: 32px;
}

.promo__label_accent {
    color: var(--sky-color);
}

.promo__phone-label {
    color: var(--gray-color);
    font-size: 13px;
}

.promo__number-input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    border-bottom: 1px solid var(--gray-color);
    padding-right: 5%;
    font-size: 16px;
}

.promo__number-input:focus {
    outline: none;
}

.promo__number-input::placeholder {
    color: white;
    opacity: 1;
}

.promo__steps-list {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    list-style: none;
    padding: 0%;
    margin: 0%;
    gap: 10px;
}

.promo__step {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 76px;
    min-height: 76px;


    border: 2px solid rgba(57, 64, 76, 1);
    border-radius: 100vw;
    margin: 0;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: clamp(24px, 5vw, 40px);
    color: var(--sky-color);

}

.promo__item {
    display: flex;
    align-items: center;
    gap: 24px;
}


.promo__message {
    position: absolute;
    top: 360%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 43, 54, 1);
    padding: 15px;
    padding-right: 90px;
    border-radius: 8px;
    font-size: 14px;
}


@media (max-width: 768px) {

    .promo__message {
        top: 270%;
        padding-right: 30px;

    }

}



@media (max-width: 425px) {

    .promo__message {
        padding-right: 15px;

    }
}