/* WEBSITE SECTION */
.website {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.website__main-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 513px;

}

.website__text-mobile {
    display: none;
}

.website__button {
    margin-top: 48px;
}

.website__image-mobile {
    display: none;
}


@media (max-width: 768px) {
    .website {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .website__label {
        text-align: justify;
        width: 100%;
    }

    .website__main-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 370px;
    }

    .website__text-desktop {
        display: none;
    }

    .website__text-mobile {
        display: block;
        text-align: justify;

        text-justify: inter-word;
    }

    .website__image-mobile {
        display: block;
    }

    .website__image-desktop {
        display: none;
    }
}

@media (max-width: 425px) {
    .website__main-info {
        max-width: 288px;
    }

}