@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --main-bg-color: #1F2229;
  --secondary-bg-color: #FFFFFF;
  --base-font: 'Inter', sans-serif;
  --sky-color: #48CCFD;
  --gray-color: rgba(143, 147, 153, 1);

}


body {
  display: flex;
  flex-direction: column;
  place-items: center;

  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  max-width: 100vw;
  height: 100%;

  color: var(--secondary-bg-color);
  font-family: var(--base-font);
  font-weight: 400;

}

/* public style */
main {

  max-width: 1078px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: clamp(72px, 5vw, 148px);
  overflow: hidden;
  position: relative;

}

p {
  font-weight: 400;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.5;
  margin: 0;
  text-wrap: true;

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 40px);
  line-height: 1.3;
  color: var(--secondary-bg-color);
  margin: 0;
}

a {
  color: var(--main-bg-color);
  text-decoration: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: 0px;
}

/*  */

.base-button {
  max-width: max-content;
  font-size: 16px;
  border-radius: 48px;
  padding: 14px 40px;

  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
  border: none;

}

.base-button_wide {
  padding: 19px 44px;
}



.base-button:hover {
  border: none;
  background-color: var(--sky-color);
  color: var(--secondary-bg-color);
  scale: 1.05;
}

.base-button:focus {
  border: none;
  background-color: var(--sky-color);
  color: var(--secondary-bg-color);
  scale: 1.05;

}

/* HEADER */
header {
  position: fixed;
  z-index: 100;
  background-color: var(--main-bg-color);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border-bottom: 1px solid #383D4A;

}

.header__location {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;

}

.header__location-button {
  z-index: 1001;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  transition: all 0.3s ease-in-out;

}

.header__location-button:hover {

  color: var(--sky-color);
  transition: all 0.3s ease-in-out;
  scale: 1.03;

}

.header__location-button:focus {
  z-index: 1001;
  outline: none;
  border: none;
}



/*  */

/* OFFER SECTION */
.offer {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.offer__main-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.offer__promo-block {

  display: flex;
  flex-direction: column;
  gap: clamp(16px, 5vw, 24px);
}

.offer__date {
  font-size: clamp(16px, 5vw, 20px);
  ;
}

.offer__title-main {

  font: clamp();
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 68px);
}

.offer__title-accent {


  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 68px);
  color: var(--sky-color);

}




/* TARIFF */

.tariff {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.tariff__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;

}

.tariff__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 72px;
  height: 72px;

  border-radius: 100%;
  background-color: #39404C;
}

.tariff__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

/*  */




/* phone-form section */
.promo {
  display: flex;
  justify-content: space-between;
}

.promo__label {
  margin-bottom: 64px;
}

.promo__link {
  color: white;
  text-decoration: underline;
}

.promo__number-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

}

.promo__label_accent {
  color: var(--sky-color);
}

.promo__number-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  border-bottom: 1px solid;
  padding-right: 5%;
  font-size: 16px;
}

.promo__number-input::placeholder {
  color: white;
  opacity: 1;
}

.promo__steps-list {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  list-style: none;
  padding: 0%;
  margin: 0%;
  gap: 10px;
}

.promo__step {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 76px;
  min-height: 76px;


  border: 2px solid rgba(57, 64, 76, 1);
  border-radius: 100vw;
  margin: 0;

  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 40px);
  color: var(--sky-color);

}

.promo__item {
  display: flex;
  align-items: center;
  gap: 24px;
}


/*  */

/* WEBSITE SECTION */
.website {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.website__main-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 513px;

}

.website__text-mobile {
  display: none;
}

.website__button {
  margin-top: 48px;
}



.website__image-mobile {
  display: none;
}

/* Footer section */

/*  */

/*MODAL SECTION*/

/* Confirm section */
.shadow-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 30px;
  left: 96%;
  margin: 0%;
  transform: translate(-100%, 0);
  width: 297px;
  height: 131px;
  background: url('/modal/dialog.svg') no-repeat center/contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: center;
  border: none;
  padding: 20px;
  z-index: 1001;
}



.modal__label {
  font-family: var(--base-font);
  font-size: 18px;

}

.modal__button {
  outline: none;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  transition: ease-in-out 300ms;

}

.modal__button:hover {
  scale: 1.05;
  transition: ease-in-out 300ms;
}

.modal__button--change {
  border: none;
}

.modal__button--confirm {
  border: solid 2px var(--main-bg-color);
  border-radius: 30px;
  padding: 9px 19px;
  font-weight: 700;
}




/* Change modal section */
.change-location-modal {
  max-width: none;
  max-height: none;
  position: fixed;
  border: none;
  top: calc(100% + 1px);
  left: 0;
  width: 100vw;
  height: calc(100vh - 32px - 2%);
  background: var(--main-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  margin: 0;
  padding: 0;
}

.change-location-modal__main-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 64px;
}


.change-location-modal__button {
  text-align: start;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  min-width: 125px;
  font: var(--base-font);
  font-size: clamp(16px, 2vw, 20px);
  color: white;
  cursor: pointer;
}

.change-location-modal__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 600px;
  margin: 0 auto;
  font-family: var(--base-font);
  font-weight: 400;
}


/*  */


@media (max-width: 768px) {


  /* Offer section */
  .offer {
    align-items: center;
    margin-top: 60px;
  }

  /* Tariff section */
  .tariff {
    flex-direction: row;
    align-items: center;
    min-height: 200px;
    gap: 10px;


  }

  .tariff__promo {
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 40px;
    min-height: 100%;
  }

  .tariff__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 10px;
  }

  .tariff__item {
    min-width: 275px;
  }

  /* Website section */

  .website {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .website__label {
    text-align: justify;
    width: 100%;
  }

  .website__main-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 370px;
  }

  .website__text-desktop {
    display: none;
  }

  .website__text-mobile {
    display: block;
    text-align: justify;

    text-justify: inter-word;
  }

  .website__image-mobile {
    display: block;
  }

  .website__image-desktop {
    display: none;
  }



  /* CHANGE MODAL */

  .change-location-modal__list {

    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 600px;
  }
}

@media (max-width: 590px) {

  /* Tariff section */
  .tariff {
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    gap: 10px;


  }

  .tariff__promo {
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 40px;
    min-height: 100%;
  }

  .tariff__list {
    flex-direction: column;
    align-items: start;

    gap: 45px;
  }


}

@media (max-width: 425px) {

  /* Offer section */
  .offer {
    flex-direction: column;
    margin-top: 50px;
  }


  /* Website section */

  .website__main-info {
    max-width: 288px;
  }

  /* CHANGE MODAL */
  .change-location-modal {
    display: block;
  }

  .change-location-modal__main-info {
    padding-top: 64px;
    padding-left: 16px;
  }

  .change-location-modal__list {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 80px;
    max-width: 600px;
  }
}